# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [32]:
data_pivot = data.pivot_table(index = 'children', values = 'debt',aggfunc = ['sum','count'])
print(data_pivot)


children_one = data[data['children'] ==1]['children'].count() #количество заемщиков, имеющих одного ребенка
children_one_conv = data[(data['debt'] ==1) & (data['children']== 1)].count()/ children_one #конверсия для заемщиков, имеющих 1 ребенка
children_one_conv = children_one_conv[0]
children_two_more =  data[data['children'] > 1]['children'].count()#количество заемщиков, имеющих более одного ребенка
children_two_more_conv = data[(data['debt'] ==1) & (data['children'] > 1)].count()/children_two_more #конверсия для заемщиков, имеющих 2 и более детей
children_two_more_conv = children_two_more_conv[0]
children_zero = data[data['children'] == 0]['children'].count() #количество заемщиков, не имеющих детей
children_zero_conv = data[(data['debt'] == 1) & (data['children'] == 0)].count()/children_zero#конверсия для заемщиковБ не имеющих детей                         
children_zero_conv = children_zero_conv[0]
print(f'Конверсия для заемщиков, имеющих одного ребенка {children_one_conv:.2%}')
print(f'Конверсия для заемщиков, имеющих два и более детей {children_two_more_conv:.2%}')
print(f'Конверсия для заемщиков, не имеющих детей {children_zero_conv:.2%}')

           sum  count
          debt   debt
children
0         1063  14091
1          444   4808
2          194   2052
3           27    330
4            4     41
5            0      9
Конверсия для заемщиков, имеющих одного ребенка 9.23%
Конверсия для заемщиков, имеющих два и более детей 9.25%
Конверсия для заемщиков, не имеющих детей 7.54%

**Вывод:**Да, зависимость есть. Из полученных результатов видно, что заемщики, имеющие детей чаще не возвращают кредиты, чем заемщики, не имеющие детей. При этом, количество детей существенно не влияет на возврат кредитов.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
data_family_group = data.groupby(['family_status']).agg({'debt':'count'})
# выведем количество заемщиков имеющих обязательства группированных по семейному положению.


data_family_group['family_status_conv'] = data[data['debt'] ==1].groupby('family_status')['debt'].count() / data.groupby('family_status')['debt'].count() # находим конверсию по каждой группе заемщиков исходя из семейного положения
print(data_family_group)

                        debt  family_status_conv
family_status
Не женат / не замужем   2796            0.097639
в разводе               1189            0.070648
вдовец / вдова           951            0.066246
гражданский брак        4134            0.093130
женат / замужем        12261            0.075606

**Вывод:** Да зависимость есть.Заемщики, находящиеся в браке,лучше исполняют обязательства по кредитам, однако овдовевшие лучше исполняют сови обязательства, чем заемщики в браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [66]:


total_income_grouped = data.groupby('total_income_category').agg({'debt':['sum','count']}) #находим сумму и количество просрочек в разрезе группировки по категориям дохода
total_income_quality = total_income_grouped['debt']['sum']/total_income_grouped['debt']['count'] #считаем долю просрочек по каждой категории дохода


print(total_income_grouped)
print(total_income_quality)

                       debt
                        sum  count
total_income_category
A                         2     25
B                       354   5014
C                      1353  15921
D                        21    349
E                         2     22
total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
dtype: float64

In [ ]:
Зависимость есть, самая большая доля просрочек находится в категории дохода E (самый низкий доход),однако в категории заемщиков, имеющих самые высокие доходы доля просрочек также одна из самых высоких. Меньще всего просрочек у Земщиков, относящихся к категориям D и В - заемщики с доходом ниже среднего и высоким доходом.

**Вывод:Зависимость между уровнем дохода и возвратом кредита есть. Наибольшее количество просрочек по кредитам выявлено у Заемщиков с доходом, относящимся к категории E - (столбец total_income_category). К категрии E относится самый низкий доход в диапозоне от 0 до 30 тыс., также большая доля просрочек отмечена и по кредитам Заемщиков с доходом, относящимся к категории С, диапазон от 50 до 200 тыс. Не самая низкая доля просрочек присутствует и у Заемщиков, принадлежащих к категории А - самому высокому доходу. Лучше всего исполняют обязательства по кредитам Заемщкики,имеющие доход в диапозоне от 30 до 50 тыс.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [73]:
purpose_grouped = data.groupby('purpose_category').agg({'debt':['sum','count']}) # находим сумму и количество просрочек в разрезе столбца purpose
purpose_conv = purpose_grouped['debt']['sum']/purpose_grouped['debt']['count'] # находим долю просрочек в общем количестве выданных кредитов сгруппированных по столбцу purpose 

print(purpose_grouped)
print(purpose_conv.max())
print(purpose_conv)

                         debt
                          sum  count
purpose_category
операции с автомобилем    400   4279
операции с недвижимостью  780  10751
получение образования     369   3988
проведение свадьбы        183   2313
0.09347978499649451
purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
dtype: float64

**Вывод:** Из полученных данных видно, что наибольшая доля просрочек приходится на кредиты, выданные на операции с авто и получение образования. Минимальное количество просрочек приходится на ипотечные кредиты. Возможно это связано с тем, что ипотечный кредит предоставляется на более длительный срок.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Среди причин наличия пропусков могут быть: 1. Отсутсвие какой-либо информации (посетите не оставляют свой e_mail адресс при регистрации на сайте или другую информацию) 2.технические проблемы (некорректный сбор данных) 3.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Когда мы анализируем выборку, состоящую из большого количества данных, мы не можем с точностью утверждать,что в ней нет значений ярко отличающихся от остальныхБ то есть точечных значений, которые нарушают монотонность выборки. Если мы будем принебригать этим фактом и будем искать среднее значение то результат получится некорректным и искаженным. Медианное значение позволяет учесть резкие отклонения в выборке и является более объективной характеристикой.

### Шаг 4: общий вывод.

Из проделанного анализа можно сформировать портрет наиболее благоприятного заемщика (при анализе учитывались: количество детей, семейный статус, уровень дохода и цели приобретения кредита):
- отсутсвие детей
- состоящий в разводе или в браке, а также вдовы /вдовцы
- уровень дохода ниже среднего
- вид заимствования - ипотечное кредитование